 <div class="dash-header-con">
        <h2 class="dash-header">Dashboard</h2>
</div>

{{#if posts.length}}

<div class="dash-container">

<div class="outer-container">

{{#each posts as |post|}}
<div class="post-container">
    <div class="inner-container">
    <div class="post-body">
        <h4 class="title-body">{{post.title}}</h4>
        <h4 class="post-text">{{post.post}}</h4>
    </div>
    <h4 class="created-by">Created by {{user.name}} on {{format_date post.date_created}}</h4>
</div>

<a href="/dashboard/edit/{{id}}"><button class="edit-btn">Edit Post</button></a>
</div>
</div>
{{/each}}

{{else}}
<h6 class="current-post">You currently do not have any posts!</h6>
{{/if}}

<div class="btn-container">
    <a href="/dashboard/create/"><button class="post-btn">+ New Post</button></a>
</div>
</div>
