 <div class="dash-header-con">
        <h2 class="dash-header">Dashboard</h2>
        {{#if post.length}}
</div>

<div class="dash-container">
{{#each post as |post|}}
<div class="post-container">
    <div class="post-body">
        <h3 class="post-title">Title</h3>
        <h4 class="title-body">{{post.title}}</h4>
        <h3 class="post-title">Content</h3>
        <h4 class="post-body">{{post.post}}</h4>
    </div>
    <h4 class="created-by">| Created by {{user.name}} on {{format_date post.date_created}} |</h4>
</div>

<a href="/dashboard/edit/{{post.id}}"><button class="edit-btn">Edit Post</button></a>
{{/each}}

{{else}}
<h6 class="current-post">You currently do not have any posts!</h6>
{{/if}}

<div class="btn-container">
    <a href="/dashboard/create/"><button class="post-btn">+ New Post</button></a>
</div>
</div>
