<div class="con-con">
<div class="post-container">
    <div class="post-body">
        <h4 class="title-body">{{{posts.title}}}</h4>
        <h4 class="post-text">{{{posts.post}}}</h4>
    </div>
    <h4 class="created-by">Created by {{posts.user.name}} on {{format_date posts.date_created}}</h4>
</div>
<a href='/dashboard/edit/{{posts.id}}'><button class="edit-btn">Edit post</button></a>
</div>

{{#each posts.comments as |comment|}}
<div class="comment-section">
    <div class="sub-section">
        <h4 class="comment-text">{{comment.comment}}</h4>
    </div>
    <div class="sub-section">
        <h6 class="comment-name">By {{comment.user.name}} on {{format_date comment.date_created}}</h6>
    </div>
</div>
    {{/each}}


{{#if loggedIn}}
<div class="con-con">
<div class="comment-container">
  <div>
    <textarea class="comment-input"></textarea>
  </div>

  <div class="comment-btn-con">
    <button class="comment-btn" type="submit">Add comment!</button>
  </div>
</div>
</div>
{{/if}}



